.changepassword {
  flex: 5;
  display: flex;
  
  justify-content: center;
}
.changepasswordwrapper {
  margin-top: 100px;
  height: 400px !important;
  width: 500px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}
.newProjectForm {
  display: flex;
 flex-direction: column;
}

.newProjectItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}

.newProjectItem > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}

.newProjectItem > input {
  height: 35px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.newProjectGender > input {
  margin-top: 15px;
}

.newProjectGender > label {
  margin: 10px;
  font-size: 18px;
  color: #555;
}

.newProjectSelect {
  height: 40px;
  border-radius: 5px;
}

.newProjectButton {
  width: 200px;
  height: 40px;
  border: none;
  background-color: darkblue;
  color: white;
  padding: 7px 10px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}
